* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utils */

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 980px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style-type: none;
    margin-right: 5px;
}

.txt-white {
    color: white;
}

.txt-red {
    color: red;
}

.txt-small {
    font-size: 0.7rem;
}

.txt-small9 {
    font-size: 0.9rem;
}

/* header */
header {
    height: 60px;
    background-color: #EF6A04;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navbar {
    justify-content: space-between;
    height: 100%;
    align-items: center;
}


.logo {
    height: 30px;
}

/* cards */
main {
    padding-top: 80px;
}

.row {
    flex-wrap: wrap;
    gap: 1rem;
}

.col {
    height: 500px;
    width: calc(33.3% - 1rem);
    position: relative;
    padding-bottom: 50px;

}

.col img {
    height: 100%;
    width: 100%;
}

.d-none {
    display: none;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 50px;
}

.col:hover .d-none {
    display: block;
}

/* heart */
.heart {
    position: absolute;
    top: 20px;
    right: 0px;
    background-color: white;
    padding: 10px;
}

/* labels */
.labels {
    position: absolute;
    bottom: 70px;
}

.discount {
    background-color: red;
    padding: 0.3rem 1rem;
    margin-right: 5px;
}

.eco {
    background-color: green;
    padding: 0.3rem 0.8rem;
}

/* footer */
footer {
    margin-top: 20px;
    height: 80px;
    padding: 20px 0;
    background-color: #1A1A1A;
}

.footer-nav {
    justify-content: space-between;
}

footer li {
    margin-top: 10px;
}